.relative {
    position: relative;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

/* Custom */

/* nav ul {
    gap: 1rem;
    list-style: none;
} */

header .navbar ul {
    margin-left: 0;
}

article header h3 {
    margin: 0;
}

.card p:last-of-type {
    margin: 0;
}

.btn {
    width: max-content;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((100% - 30px) / 2) !important;
}

.swiper-slide img {
    display: flex;
}